s3:
  pollingMode: true # Can be set to false for MinIO servers
  pollingPeriod: 30s
  endpoint: "127.0.0.1:9000"
  accessID: "admin"
  accessSecret: "password"
  useSSL: false

ui:
  webServerPort: 9999
  baseURL: "" # The path the server will listen on (empty means /)
  windowTitle: "S3 Image Viewer"
  applicationTitle: "My collection"
  faviconPngBase64: ""
  logoPngBase64: ""
  scaleInitialPercentage: 50
  maxImagesDisplayCount: 100
  displayTimeOffset: 1h
  map:
    pmtilesURL: "https://example.com/map.pmtiles"
    pmtilesStyleURL: "https://example.com/styles.json"

products:
  targetRelativeRegexp: "[^/]*/preview.jpg$"
  fullProductProtocol: "protocol://"
  fullProductRootURL: "http://a.b.c.d:5000"
  maxObjectsAge: 24h
  dynamicData:
    fileSelectors:
      geonames:
        regex: "geonames.json$"
        kind: cached
        link: true
      localization:
        regex: "localization.json$"
        kind: cached
        link: true
    expressions:
      # Well known
      productBasePath: 'let key = _s3Key("preview"); key[:lastIndexOf(key, "/")]'
      geonames: '_exist("geonames") ? _loadJSON("geonames") : nil'
      localization: '_exist("localization") ? _loadJSON("localization") : nil'
      productInfo: |
        {
          "title": _call("productTitle"),
        }
  imageGroups:
    - groupName: "Group 1"
      bucket: "group-1"
      dynamicData:
        fileSelectors:
          preview:
            regex: "preview.jpg$"
            kind: cached
            link: true
        expressions:
          productTitle: 'split(_s3Key("preview"), "/")[1]'
      types:
        - name: "TYPE1"
          displayName: "Type 1"
          productPrefix: "my-prefix/TYPE1/"
        - name: "TYPE2"
          displayName: "Type 2"
          productPrefix: "my-prefix/TYPE2/"
          dynamicData:
            fileSelectors:
              product:
                regex: "prod.tif$"
                kind: signedURL
                # for signedURL and fullProductSignedURL, link is always true
    - groupName: "Group 2"
      bucket: "group-2"
      dynamicData:
        fileSelectors:
          preview:
            regex: "prev.jpg$"
            kind: cached
            link: true
          product:
            regex: "prod.tif$"
            kind: fullProductSignedURL(urlParams)
        expressions:
          productTitle: 'split(_s3Key("preview"), "/")[1]'
          urlParams: |
            {
              "product_title": _call("productTitle"),
              "product_id": split(_s3Key("preview"), '/')[5],
            }
      types:
        - name: "TYPE3"
          displayName: "Type 3"
          productPrefix: "my-prefix/TYPE3/"
          dynamicData:
            fileSelectors:
              metadata:
                regex: "metadata.json$"
                kind: cached
                link: false
            expressions:
              productTitle: '_loadJSON("metadata").title'

cache:
  cacheDir: "/tmp" # The actual cache directory will be created in /tmp
  retentionPeriod: "48h"

log:
  logLevel: "info"
  colorLogs: false
  JSONLogFormat: false
  JSONLogFields:
    class_name: "prod"
    server: 42
  httpTrace: false

monitoring:
  prometheusInstanceLabel: "s3_image_server"
