name: Release drafter

on:
  push:
    tags:
      - "*"
  workflow_dispatch:    # allow manual runs

permissions:
  contents: write

env:
  IMAGE_NAME: s3-image-server-builder
  REGISTRY: ghcr.io

jobs:
  draft-release:
    name: Draft release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build image (linux/amd64) and load to local docker
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./builder.Dockerfile
          platforms: linux/amd64
          load: true
          build-args: |
            VERSION=${{ github.ref_name }}
          tags: |
            ${{ env.IMAGE_NAME }}:${{ github.ref_name }}
            ${{ env.IMAGE_NAME }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Save Docker image to tar
        run: |
          IMAGE="${{ env.IMAGE_NAME }}:${{ github.ref_name }}"
          TAR="${{ env.IMAGE_NAME }}-${{ github.ref_name }}.tar"
          docker image save "$IMAGE" -o "$TAR"
          gzip -9 "$TAR"
          echo "ARCHIVE=${TAR}.gz" >> $GITHUB_ENV

      - name: Create release draft
        uses: ncipollo/release-action@v1
        with:
          name: "Version ${{ github.ref_name }}"
          draft: true
          artifacts: "${{ env.ARCHIVE }}.xz"
          makeLatest: true
