name: Release drafter

on:
  push:
    tags:
      - "*"

jobs:
  draft-release:
    name: Draft release
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Setup env
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          echo "VERSION=${VERSION}" >> $GITHUB_ENV
          echo "BINARY_FILENAME=S3ImageServerV2-${VERSION}" >> $GITHUB_ENV

      - uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25"

      - uses: actions/setup-node@v4
        with:
          node-version: 25

      - name: Build
        env:
          BASE_URL: "/"
        run: |
          yarn install
          ./build.sh ${{ env.VERSION }}
          strip ${{ env.BINARY_FILENAME }}
          xz ${{ env.BINARY_FILENAME }}

      - name: Create release draft
        uses: ncipollo/release-action@v1
        with:
          name: "Version ${{ env.VERSION }}"
          draft: true
          artifacts: "${{ env.BINARY_FILENAME }}.xz"
          makeLatest: true
